unless  _.isEmpty(resume.education)
    section.education
        .container
            header.section-heading.p-t-40
                h2 Education
            .container
                .paper-timeline
                    .start-icon
                        i.fas.fa-graduation-cap

                    .row
                        each study, index in resume.education
                            div(class="col-sm-12 col-md-6 timeline-item " + (index % 2 ? 'offset-md-6 right' : 'left'))
                                .row
                                    .col-md-11
                                        .timeline-panel
                                            .media
                                                unless _.isEmpty(study.image)
                                                    img.d-flex.mr-3.height-50(
                                                        src=study.image,
                                                        alt=study.institution,
                                                        itemprop="image"
                                                        )
                                                .media-body
                                                    h3.mt-0.mb-1(itemprop="institute")!=study.institution
                                                    p.mb-0.mt-0.lh-15
                                                        |#{study.area ? study.area + ', ' : ''} #{study.studyType}
                                                    p.mb-1.mt-0.lh-15
                                                        |#{study.startDate} - #{study.endDate || 'Present'}
                                                    unless _.isEmpty(study.courses)
                                                        each course in study.courses
                                                            span.badge.badge-primary.mr-1.mb-1
                                                                | #{course}
                .end-icon
                    i.fas.fa-circle
